In [1]:
import numpy as np
import pandas as pd

## Uvod

In [ ]:
#kako izpisati z neposredno povezavo na spremenljivke
print(f'{x} squared is {y}')

In [ ]:
#čarobni ukazi
%lsmagic

In [ ]:
#merjenje časa
%%timeit x = range(100)

In [ ]:
!head taxi_data.csv #linux ukaz

In [ ]:
with open('taxi_data.csv', 'r') as f:
    taxi_list = list(csv.reader(f))

## NumPy

In [1]:
#list v pythonu skriva še druge podatke, kot je kakšen tip spremenljivk vsebuje:
L = list(range(10))
type(L[0])
#numpy za cel list shrani en tip, python pa za vsako spremenljivko zapiše kakšnega tipa je, kar je bolj potratno

int

In [ ]:
#list spremenimo v array:
list1 = [4,5,6,78,12]
arr1 = np.array(list1)

In [ ]:
#ones
np.ones((3,5))

In [ ]:
#arange (podobna funkciji range v Pythonu), (od, do, korak)
np.arange(0,20,2)

In [ ]:
#zeros
Aa=np.zeros((3,5))
Bb=np.zeros((5))
print(Aa, '\n')
print(Bb)

In [ ]:
#linspace (interval od, interval do, na koliko delov razdelimo)
np.linspace(0,1,5)

In [ ]:
#randint (števila od, števila do,(velikost matrike))
np.random.randint(0,10,(4,4))

In [ ]:
#random (najključna števila med 0 in 1, (velikost matrike))
np.random.random((3,3))

In [ ]:
#eye (kvadratna matrika z enkami po diagonali)
np.eye(5)

In [ ]:
#full (matrika velikosti (m,n) s konstantno vrednostjo)
np.full((5,6),8)

In [ ]:
#empty (naredi prazen array???) preveri zakaj ni prazen???
np.empty((2,1))

#### VRSTICE

In [ ]:
data3 = np.random.randint(0,10,(4,7))

#ndim - število dimenzij ndarraya
data3.ndim

In [ ]:
#shape - velikost matrike (št vrstic, št stolpcev), dimenzija (ta primer 2D)
data3.shape

In [ ]:
#size - število elementov (če je več D, vrne pač število vseh elementov)
data3.size

In [ ]:
#itemsize - velikost enega elementa v arrayu (v bajtih)
data3.itemsize

In [ ]:
#nbytes - velikost celega arraya (v bajtih)
data3.nbytes

In [ ]:
test_arr = np.random.randint(10,size=(5,5))

#prva vrstica
first_row = test_arr[0]

In [ ]:
#2. in 3. vrstica
row2_3 = test_arr[[1,2]] #ali row2_3 = [1:3]

In [ ]:
#vrstica 2 do konca
row2_do_konca = test_arr[1:]

#### STOLPCI

In [ ]:
test_arr2 = np.random.randint(10,size=(5,5))

#stolpec 2
stolp2 = test_arr2[:,1]

In [ ]:
#stolpec 1 in 2
stolp1_2 = test_arr2[:,0:2] #ali =test_arr2[:,:2]

In [ ]:
#stolpec 2,4,5
stolp2_4_5 = test_arr2[:,[1,3,4]]

In [ ]:
#stolpec elementi 2 do 4, vrstica 3
stolp_vrstica = test_arr2[2, 1:4]

In [ ]:
#elementi v vrsticah 1-4, stolpce 1-3
test_arr2[1:4,:3]

#### NAPREJ O ARRAYIH

In [ ]:
#pogledamo tip seznama
x=np.array([1,2])
print(x.dtype)

In [ ]:
#nastavljanje tipa podatkov
np.zeros(10, dtype=np.int16) #ali np.zeros(10, dtype='i

<div class="text_cell_render border-box-sizing rendered_html">
<table>
<thead><tr>
<th>Data type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>bool_</code></td>
<td>Boolean (True or False) stored as a byte</td>
</tr>
<tr>
<td><code>int_</code></td>
<td>Default integer type (same as C <code>long</code>; normally either <code>int64</code> or <code>int32</code>)</td>
</tr>
<tr>
<td><code>intc</code></td>
<td>Identical to C <code>int</code> (normally <code>int32</code> or <code>int64</code>)</td>
</tr>
<tr>
<td><code>intp</code></td>
<td>Integer used for indexing (same as C <code>ssize_t</code>; normally either <code>int32</code> or <code>int64</code>)</td>
</tr>
<tr>
<td><code>int8</code></td>
<td>Byte (-128 to 127)</td>
</tr>
<tr>
<td><code>int16</code></td>
<td>Integer (-32768 to 32767)</td>
</tr>
<tr>
<td><code>int32</code></td>
<td>Integer (-2147483648 to 2147483647)</td>
</tr>
<tr>
<td><code>int64</code></td>
<td>Integer (-9223372036854775808 to 9223372036854775807)</td>
</tr>
<tr>
<td><code>uint8</code></td>
<td>Unsigned integer (0 to 255)</td>
</tr>
<tr>
<td><code>uint16</code></td>
<td>Unsigned integer (0 to 65535)</td>
</tr>
<tr>
<td><code>uint32</code></td>
<td>Unsigned integer (0 to 4294967295)</td>
</tr>
<tr>
<td><code>uint64</code></td>
<td>Unsigned integer (0 to 18446744073709551615)</td>
</tr>
<tr>
<td><code>float_</code></td>
<td>Shorthand for <code>float64</code>.</td>
</tr>
<tr>
<td><code>float16</code></td>
<td>Half precision float: sign bit, 5 bits exponent, 10 bits mantissa</td>
</tr>
<tr>
<td><code>float32</code></td>
<td>Single precision float: sign bit, 8 bits exponent, 23 bits mantissa</td>
</tr>
<tr>
<td><code>float64</code></td>
<td>Double precision float: sign bit, 11 bits exponent, 52 bits mantissa</td>
</tr>
<tr>
<td><code>complex_</code></td>
<td>Shorthand for <code>complex128</code>.</td>
</tr>
<tr>
<td><code>complex64</code></td>
<td>Complex number, represented by two 32-bit floats</td>
</tr>
<tr>
<td><code>complex128</code></td>
<td>Complex number, represented by two 64-bit floats</td>
</tr>
</tbody>
</table>

</div>

In [ ]:
#arrayi morajo imeti iste dimenzije (seštevanje, ...)


<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>The following table lists the arithmetic operators implemented in NumPy:</p>
<table>
<thead><tr>
<th>Operator</th>
<th>Equivalent ufunc</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>+</code></td>
<td><code>np.add</code></td>
<td>Addition (e.g., <code>1 + 1 = 2</code>)</td>
</tr>
<tr>
<td><code>-</code></td>
<td><code>np.subtract</code></td>
<td>Subtraction (e.g., <code>3 - 2 = 1</code>)</td>
</tr>
<tr>
<td><code>-</code></td>
<td><code>np.negative</code></td>
<td>Unary negation (e.g., <code>-2</code>)</td>
</tr>
<tr>
<td><code>*</code></td>
<td><code>np.multiply</code></td>
<td>Multiplication (e.g., <code>2 * 3 = 6</code>)</td>
</tr>
<tr>
<td><code>/</code></td>
<td><code>np.divide</code></td>
<td>Division (e.g., <code>3 / 2 = 1.5</code>)</td>
</tr>
<tr>
<td><code>//</code></td>
<td><code>np.floor_divide</code></td>
<td>Floor division (e.g., <code>3 // 2 = 1</code>)</td>
</tr>
<tr>
<td><code>**</code></td>
<td><code>np.power</code></td>
<td>Exponentiation (e.g., <code>2 ** 3 = 8</code>)</td>
</tr>
<tr>
<td><code>%</code></td>
<td><code>np.mod</code></td>
<td>Modulus/remainder (e.g., <code>9 % 4 = 1</code>)</td>
</tr>
</tbody>
</table>
<p>Additionally there are Boolean/bitwise operators; we will explore these in <a href="02.06-boolean-arrays-and-masks.html">Comparisons, Masks, and Boolean Logic</a>.</p>

</div>
</div>

[Mathematical expressions](https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.math.html#arithmetic-operations)

#### DODAJANJE VRSTIC, STOLPCEV

In [ ]:
ones = np.ones((2,3))
zeros = np.zeros(3)
combined = np.concatenate([ones, zeros], axis=0) #to ne dela, ker zeros.shape=(3,), ones.shape=(2,3)
#imamo 2D in 1D objekt, kar ne gre skupaj

In [ ]:
#lahko uporabimo funkcijo reshape ali zeros_2D=np.zeros(1,3)
zeros_2D = np.expand_dims(zeros, axis=0)

In [ ]:
combined_2D = np.concatenate([ones, zeros_2D], axis=0)
#če želimo dodati stolpec, damo axis=1

#### SORTIRANJE ARRAYEV

In [ ]:
sadje = np.array(['pomaranca', 'jabolko', 'kivi', 'mango', 'cesnja'])

In [ ]:
sorted_order = np.argsort(sadje) #razvrsti indekse objektov

In [ ]:
sortirano_sadje = sadje[sorted_order]

In [ ]:
#soritiranje 2D arraya
int_square = np.random.randint(10, size=(5,5))

In [ ]:
#želimo, da v zgornjem arrayu pogledamo zadnji stolpec in vrstice razvrstimo glede 
#na naraščajoče vrednosti v zadnjem stolpcu
last_column = int_square[:,4]
sorted_order_matrika = np.argsort(last_column)
last_column_sorted = last_column[sorted_order_matrika]
int_square_sorted = int_square[sorted_order_matrika]
int_square_sorted
#lahko pa tudi združimo vse v eno vrstico ...

#### BOOLEAN

In [ ]:
np.array([2,3,6,7,9,23]) < 5

In [ ]:
passenger_count = taxi_np[:,7]
two_passenger_bool = passenger_count == 2
two_passenger = passenger_count[two_passenger_bool]
two_passenger

#### DOLOČANJE VREDNOSTI

In [ ]:
barve = ['blue','red','orange']
barve[1] = 'black'
barve

In [ ]:
barve[1:] = 'pink'

#### PODARRAYI IN KOPIRANJE

In [ ]:
r = np.ones((4,4))
r2 = r[:2,:2]

In [ ]:
r2 [:] = 0

In [ ]:
r #ko spremenimo r2, se spremeni tudi r !!!

In [ ]:
r3 = np.random.randint(10,size=(5,5))
r3_sub_copy = r3[:2,:2].copy()

In [ ]:
r3_sub_copy #to je zdaj kopija in ne bo spremenila r3, če jo spremenimo

## PANDAS

In [ ]:
#tabulator vrne vse možnosti, ki jih ima pandas na določeni funkciji
pd.<TAB>

In [ ]:
#dokumentacijo za funkcijo lahko pogledamo tudi tako
pd.DataFrame.max?

### TIPI PODATKOV

#### Series

In [ ]:
#series
data = pd.Series([0.25,0.5,0.75,1.0])

In [ ]:
#poberemo kot numpy array vrednosti
data.values
type(data.values)

In [ ]:
#nekaj podatkov o nizu
data.index
#vrne: RangeIndex(start=0, stop=4, step=1)

In [3]:
data2 = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data2

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
#vzamemo posamezni element glede na indeks:
data2['b']

In [4]:
#slovar v vrsto:
population_dict = {'California': 38782937,
                  'Texas': 24568394,
                  'New York': 25478201,
                  'Illinois': 74832284}

population = pd.Series(population_dict)
population

California    38782937
Texas         24568394
New York      25478201
Illinois      74832284
dtype: int64

In [ ]:
#izpis več vrstic
population['Texas':'New York'] #dobimo vključno z NY

#### DataFrame

In [5]:
area_dict = {'California': 4365,
            'Texas': 2324,
            'New York': 1234454,
            'Florida': 1234444,
            'Illinois': 752284}

area = pd.Series(area_dict)

states = pd.DataFrame({'population': population, 'area': area})

states

            population     area
California  38782937.0     4365
Florida            NaN  1234444
Illinois    74832284.0   752284
New York    25478201.0  1234454
Texas       24568394.0     2324

In [ ]:
#pogledamo imena vrstic
states.index

#pogledamo imena stolpcev
states.columns

In [6]:
#razlima med DataFrame in numpy seznamom:
states['area'] #pri numpyu smo pri taki poizvedbi dobili vrstico, tukaj pa dobimo stolpec

California       4365
Florida       1234444
Illinois       752284
New York      1234454
Texas            2324
Name: area, dtype: int64

In [ ]:
#DataFrame iz arraya:
pd.DataFrame(np.random.rand(3,2),
            columns=['stolp_1','stolp_2'],
            index=['a','b','c'])

In [ ]:
#DataFrame iz slovarja:
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

#### DataFrame Index

In [ ]:
#Stolpec, ki omogoča označevanje in poimenovanje podatkov.
#Array, ki ga ne moremo spreminjati.

In [ ]:
ind = pd.Index([2,3,5,7,11])

In [ ]:
#pogledamo nekaj lastnosti:
ind.shape
ind.size
ind.ndim

In [ ]:
ind[1] = 0 #to ne dela - ne moremo spreminjati (kot Tuple)

### UVAŽAJE PODATKOV S PANDAS

In [ ]:
#čisto osnovno (linux) lahko pogledamo podatke tako:
!head data/DATA_fortune_500_2017.csv

In [ ]:
f500 = pd.read_csv('data/DATA_fortune_500_2017.csv', index_col=0)

### DataFrame NATANČNEJE

In [ ]:
#Vsak stolpec je lahko svoj podatkovni tip. Za razliko od numpy, kjer je vse en tip.

#Vrne podatkovni tip za vsak stolpec.
#Tip "object" je običajno string.
f500.dtypes

In [ ]:
#head vrne prvih 5 vrstic
f500.head()

In [ ]:
#tail izpiše zadnjih 5 (ali poljubno, če definiramo) vrstic
f500.tail()

In [ ]:
#informacije o df -> samo sprinta, ne moremo shraniti v spremenljivko
f500.info()

#### Izbiranje podatkov v Pandas

In [9]:
data = pd.Series(['a','b','c'], index=[1,3,5])

#pri izbiranju imamo 2 načina

#1. način
data[1] #izbiramo po indeksih, data[2] v tem primeru ne dela, izbere eksplicitno po indeksu

'a'

In [ ]:
#2. način
data[1:4] #izbere implicitno

In [ ]:
#izberemo več stolpcev
more_cols = f500.loc[:,['Employees', 'Revenues', 'Assets']]

In [ ]:
#Izberemo več stolpcev in pri teh neko območje vrstic od do.
#Za razliko od numpya, tukaj vključi tudi zadji stolpec.
financial_data = f500.loc[:, 'Revenues':'Profits']
financial_data.head()

In [ ]:
#Simple bracket
#industries = f500.loc[:, 'Industry'] #to je daljši način. krajši način:
industries = f500['Industry']

In [10]:
s = pd.Series([4,7,-5,3], index=['d', 'b', 'a', 'c'])

#Do posameznega elementa lahko dostopamo različno:
s['d']
s.loc['d']

4

In [11]:
#Več elementov:
s['d':'a']

#Enako:
s.loc['d':'a']

d    4
b    7
a   -5
dtype: int64

In [12]:
#lahko uporabljamo tudi metode kot pri slovarjih
'a' in s

True

In [13]:
#Vrne seznam indeksov:
s.keys()

Index(['d', 'b', 'a', 'c'], dtype='object')

In [14]:
#Vrne pare indeks - vrednost
list(s.items())

[('d', 4), ('b', 7), ('a', -5), ('c', 3)]

In [ ]:
#Najprej izberemo stolpec, nato pa prvi element od tam:
ceos = f500['Ceo']
ceos_w = ceos[1]

In [ ]:
#Indeks lahko pogledamo tudi tako:
f500.index

In [ ]:
#Nov stolpec izberemo za indeks tako:
f500.set_index('Title', inplace=True)

In [ ]:
#Vrstice pa izbiramo na ta način:

#Ena vrstica:
single_row = f500.loc['Walmart']

#Več vrstic:
list_rows = f500.loc[['Walmart','Berkshire Hathaway', 'Apple']]

In [ ]:
#Ta oblika zapisa je rezervirana za vrstice (zato nismo prej uporabili pri oklepajih)
slice_rows = f500['Berkshire Hathaway':'Exxon Mobil']

In [ ]:
#Vrstice od Walmart do Apple in stolpca Sector in Industry:
first3 = f500['Walmart':'Apple'][['Sector', 'Industry']]

In [ ]:
#Vse vrstice od Walmart do Exxon Mobil in stolpci od Website do Industry
top5 = f500['Walmart':'Exxon Mobil'].loc[:, 'Website':'Industry']

#### ILOC

In [ ]:
#Izpišem prvi dve vrstici in vse stolpce:
top_five.iloc[0:2, :]

In [ ]:
#Izpišem prvih deset vrstic:
top_ten = f500.iloc[:10, :]

In [2]:
#Izpišem vse:
top_ten.iloc[:,:]

In [ ]:
#Izpišem od 7. vrstice naprej in od 7. stolpca naprej
top_ten.iloc[6:, 6:]

In [ ]:
#Izpišem prvi stolpec, zraven doda tudi indeks:
top_ten.iloc[:,0]

In [ ]:
#Izpišem 10. vrstico in vse stolpce:
top_ten.iloc[9, :]

#### DESCRIBE

In [ ]:
#Izračuna osnovno statistiko za DataFrame ali Series:
revs.describe()

#Vrne:
count       500.000000
mean      24111.748000
std       38337.353337
min        5145.000000
25%        7245.000000
50%       11384.000000
75%       22605.250000
max      485873.000000
Name: Revenues, dtype: float64

#Dela tudi na stringu. Tam vrne:
count     500
unique     37
top        NY
freq       54
Name: Hqstate, dtype: object

In [ ]:
#Dela tudi na DataFrameu in tam vrne celo tabelo - statistiko za vsak stolpec.
#V osnovi sicer izloči stolpce s stringi, če dodamo:
f500.describe(include=['O'])
#pa vključi tudi stringe in za vse izračuna statistiko kot za string.

In [ ]:
#Lahko tudi izberemo stolpce:
f500[['Revenues', 'Employees']].describe()

In [ ]:
#Na ta način pa vključi čisto vse in naredi statistiko kot za števila. Če je string, vrne NaN:
f500.describe(include='all')

### Dodatne metode za analizo podatkov

In [3]:
df  = pd.DataFrame({'A': [1,1,2,1,2,3,3,3,3,3]})
df.sum(axis=0)

A    22
dtype: int64

In [ ]:
f500[['Revenues', 'Profits']].median(axis=0)

In [ ]:
f500['Sector'].value_counts().head()

In [ ]:
f500.max(numeric_only=True)

### Določanje vrednosti

In [ ]:
#Točno določena vrednost v vrstici Apple in stolpcu Revenues
top5_rank.loc['Apple', 'Revenues'] = 999

In [ ]:
#Vrstici New Company priredimo vrednost 555
top5_rank.loc['New Company'] = 555

### Boolean

In [ ]:
data = {'name': ['Jan', 'Jaka', 'Miha', 'Sara'], 'num': [12, 8, 5, 8]}
df = pd.DataFrame(data, columns=['name','num'], index=['w','x','y','z'])

In [ ]:
num_bool = df['num']==8
df[num_bool]
result = df.loc[num_bool, 'name'] #izberemo samo določen stolpec

#### Določanje vrednosti z booleani

In [ ]:
f500.loc[motor_bool, 'Industry'] = 'Motor Vehicles & Parts'

motor_bool = f500[f500['Industry'] == 'Motor Vehicles & Parts']

#### Brisanje stolpcev

In [ ]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [40, 50, 9], [7, 2, 9], [40, 50, 9], [23, 35, 37]]), 
                  index= [2.5, 12.6, 4.8, 4.8, 2.5], 
                  columns=['A', 'B', 'C'])

df.drop(columns='A', inplace=True)

#Enako naredi tudi to:
df.drop('A', axis=1, inplace=True)

#### Duplikati

In [ ]:
#Izbrišemo podvojene vrednosti glede na vrstice
df_1 = df.drop_duplicates()

In [ ]:
#izbriše vse vrstice s tem indeksom
df_1.drop([2.5])

#### Concat

In [4]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

In [15]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

In [16]:
#Numpy varianta
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
x = [[1,2], [3,4]]
np.concatenate([x,x], axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [18]:
#Pandas varianta:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [21]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])

pd.concat([df1, df2])

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [22]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])

pd.concat([df3, df4], axis='columns')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [8]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])

In [9]:
df5

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [10]:
df6

    B   C   D
3  B3  C3  D3
4  B4  C4  D4

In [12]:
#Ostanejo vsi stolpci:
pd.concat([df5, df6], sort=True, join='outer')

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [11]:
#Ostanejo samo skupni stolpci:
pd.concat([df5, df6], join='inner')

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [13]:
#Ostanejo samo stolpci iz df5:
pd.concat([df5,df6], join_axes=[df5.columns])

     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4

#### Append

In [ ]:
#Doda na konec seznama.

### GRUPIRANJE PODATKOV

In [15]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [ ]:
#To samo po sebi še ne vrne nič:
df.groupby('key')

In [ ]:
#Dodati moramo še metodo:
df.groupby('key').sum()

In [ ]:
#Grupiramo po stolpcu method in potem izberemo samo stolpec orbital_period
planets.groupby('method')['orbital_period'].median()

In [ ]:
planets.groupby('method')['year'].describe()

### AGGREGATE

In [17]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [18]:
df.groupby('key').aggregate(['min', np.median, max, np.mean])

    data1                 data2
      min median max mean   min median max mean
key
A       0    1.5   3  1.5     3    4.0   5  4.0
B       1    2.5   4  2.5     0    3.5   7  3.5
C       2    3.5   5  3.5     3    6.0   9  6.0

In [19]:
df.groupby('key').aggregate({'data1': 'min', 'data2': 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

### FILTRIRANJE

In [20]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [21]:
def filer_func(x):
    return x['data2'].std() > 4

In [22]:
df.groupby('key').filter(filer_func)

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

### TRANSFORMACIJA

In [23]:
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

### APPLY

In [24]:
def norm_by_data2(x):
    x['data1'] = x['data1'] / x['data2'].sum()
    return x

In [25]:
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

### DATUM IN ČAS

In [26]:
date = np.array('2015-07-04', dtype=np.datetime64)
date + np.arange(12)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
      dtype='datetime64[D]')

In [ ]:
np.datetime64('2015-07-04')
np.datetime64('2015-07-04 12:02') 
np.datetime64('2015-07-04 12:02', 'ns')

In [28]:
date = pd.to_datetime('4 of july, 2015')

In [29]:
date.strftime('%A')

'Saturday'

In [30]:
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
               '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
               '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
              dtype='datetime64[ns]', freq=None)

In [32]:
index_t = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])
data = pd.Series([0,1,2,3], index=index_t)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [33]:
data['2014-07-04':'2015-07-04']

2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64

In [34]:
data['2015']

2015-07-04    2
2015-08-04    3
dtype: int64

In [37]:
dates = pd.to_datetime(['4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])
dates

DatetimeIndex(['2015-07-04', '2015-07-06', '2015-07-07', '2015-07-08'], dtype='datetime64[ns]', freq=None)

In [38]:
dates.to_period('D')

PeriodIndex(['2015-07-04', '2015-07-06', '2015-07-07', '2015-07-08'], dtype='period[D]', freq='D')

### KOPIRANJE IN WARNING

In [ ]:
#Pravilno:
data.loc[data['bidder'] == 'parakeet2004', 'bidderrate'] = 100

#Ne tako pravilno:
data[data['bidder'] == 'parakeet2004']['bidderrate'] = 100

## UVOZ IN PRIPRAVA PODATKOV

In [ ]:
!cat data/DATA_test2.txt

In [ ]:
with open('data/DATA_test2.txt') as f:
    tekst = f.read()
    tekst_odstavki = tekst.split('\n\n')
    
tekst_odstavki

In [ ]:
#pogostost pojavljanja posameznih besed
with open('data/DATA_test2.txt') as f:
    tekst = f.read()
    tekst_odstavki = tekst.split('\n\n')

In [ ]:
#Za CSV datoteke:
import csv
with open('data/DATA_temp_data.txt', newline='') as f:
    results=[fields for fields in csv.reader(f, delimiter='|')]
    print(results)

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%">
<col width="40%">
<col width="24%">
<col width="24%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&nbsp;</td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

In [ ]:
df = pd.read_csv('data/DATA_ex2.csv', names=['a','b','c','d','message'], index_col='message',
                skiprows=[0,2,3])))
df = pd.read_csv('data/DATA_ex2.csv', header=None)

#ker je velika datoteka, preberemo samo prvih 5 vrstic...za začetek
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv', nrows=5)

In [ ]:
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv',
                nrows=5,
                usecols=['Identifier', 'Place of Publication', 'Date of Publication'],
                dtype= {'Identifier': int, 'Place of Publication': str, 'Date of Publication': str},
                index_col=0)

In [ ]:
data.to_csv('output2.csv', sep='|', index=False, header=False)

#### JSON (sicer teden 4)

In [39]:
!head -n 1 data/DATA_health_inspection_chi_sample.json

'head' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
data = []
with open('data/DATA_health_inspection_chi_sample.json') as json_file:
    for line in json_file:
        #loads prebere iz stringa, load prebere iz objekta
        #poglej še natančneje razliko med loads in load
        line = json.loads(line)
        data.append(line)

In [ ]:
with open('data/DATA_health_inspection_chi_sample.json') as json_file:
    data = [parse_json(line) for line in json_file]

In [ ]:
data[0]
#zdaj ni več polja location

In [ ]:
data = pd.read_json('data/DATA_ex4.json')

In [40]:
#nastaviti moramo še dodaten parameter lines=True, da lahko prebere po vrsticah, sicer ne dela
data = pd.read_json('data/DATA_health_inspection_chi_sample.json', lines=True,
                   orient = 'records')
data.head(3)

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26T00:00:00.000,1965287,Canvass,41.880237,1991820.0,"{'type': 'Point', 'coordinates': [-87.75722039...",-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644
1,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06T00:00:00.000,1329698,Canvass,41.931250,2099479.0,"{'type': 'Point', 'coordinates': [-87.77590699...",-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
2,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03T00:00:00.000,470787,SFP,41.979884,1933748.0,"{'type': 'Point', 'coordinates': [-87.66842948...",-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640

### Čiščenje in priprava podatkov

In [ ]:
#numpy objekta None ne prepozna kot manjkajočo vrednost, zato pretvori v tip=object
#namesto v int64
arr = np.array([1,None,3,4])
arr

In [ ]:
#hitreje deluje na int, ki je optimiziran tip
for dtype in ['object','int']:
    print('dtype = ', dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

In [ ]:
#to pa še ne deluje kot bi želeli
arr2.sum()

In [ ]:
#to pa dela
np.nansum(arr2)

<table>
<thead><tr>
<th>Typeclass</th>
<th>Conversion When Storing NAs</th>
<th>NA Sentinel Value</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>floating</code></td>
<td>No change</td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>object</code></td>
<td>No change</td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
<tr>
<td><code>integer</code></td>
<td>Cast to <code>float64</code></td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>boolean</code></td>
<td>Cast to <code>object</code></td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
</tbody>
</table>

Operating on Null Values

    isnull(): Generate a boolean mask indicating missing values
    notnull(): Opposite of isnull()
    dropna(): Return a filtered version of the data
    fillna(): Return a copy of the data with missing values filled or imputed

In [41]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [42]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [43]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [44]:
#v osnovi izbriše vse vrstice, kjer se nahajajo nan vrednosti
df.dropna()

     0    1  2
1  2.0  3.0  5

In [45]:
#Pusti samo stolpce brez NaN vrednosti:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [ ]:
#s parametrom how lahko nastavljamo kaj ostane po dropna
df.dropna(how='any')

In [ ]:
#izbriše samo, če so vse vrstice v stolpcu/vrstici enake NaN
df.dropna(how='all', axis='columns')

In [ ]:
#parameter thresh - minimalno število ne null vrednosti, ki jih želimo imeti v npr. vrstici
df.dropna(axis='rows', thresh=3)

In [46]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [47]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [48]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [ ]:
#en ostane manjkajoč, ker nima prejšnje vrednosti
df.fillna(method='ffill', axis=1)

In [50]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [51]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [52]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

### Transformacija podatkov z mapiranjem

In [54]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [55]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [56]:
lowercase = data['food'].str.lower()
data['animal'] = lowercase.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

### Nadomeščanje vrednosti

In [57]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [58]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [59]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [60]:
data.replace(list(range(-2000,0)), np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

### Tipi podatkov

In [61]:
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv')

In [62]:
df.dtypes.value_counts()

object     11
float64     3
int64       1
dtype: int64

In [63]:
df.dtypes

Identifier                  int64
Edition Statement          object
Place of Publication       object
Date of Publication        object
Publisher                  object
Title                      object
Author                     object
Contributors               object
Corporate Author          float64
Corporate Contributors    float64
Former owner               object
Engraver                  float64
Issuance type              object
Flickr URL                 object
Shelfmarks                 object
dtype: object

In [64]:
df2 = df.select_dtypes(include=['float64', 'int64']).head()
df2

   Identifier  Corporate Author  Corporate Contributors  Engraver
0         206               NaN                     NaN       NaN
1         216               NaN                     NaN       NaN
2         218               NaN                     NaN       NaN
3         472               NaN                     NaN       NaN
4         480               NaN                     NaN       NaN

In [65]:
#zmanjšam velikost podatkov
df2['identifier'] = df['Identifier'].astype('int16')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
Identifier                5 non-null int64
Corporate Author          0 non-null float64
Corporate Contributors    0 non-null float64
Engraver                  0 non-null float64
identifier                5 non-null int16
dtypes: float64(3), int16(1), int64(1)
memory usage: 210.0 bytes

### Odstranjevanje stolpcev

In [66]:
df = pd.read_csv('data/DATA_BL-Flickr-Images-Book.csv')

In [67]:
to_drop = ['Edition Statement',
    'Corporate Author',
    'Corporate Contributors',
    'Former owner',
    'Engraver',
    'Contributors',
    'Issuance type',
    'Shelfmarks']

In [ ]:
df.drop(to_drop, axis=1, inplace=True)

### Spreminjaje indeksa

In [ ]:
#pogledamo, če je kakšen element v stolpcu podvojen
#ker dobimo True, vemo, da ni
df['Identifier'].is_unique

In [ ]:
#Iščemo po indeksu
df.loc[206]

### Urejanje polj

In [68]:
df.get_dtype_counts()

float64     3
int64       1
object     11
dtype: int64

 **Regular Expression**

[Regular Expression HOWTO](https://docs.python.org/3.7/howto/regex.html)

[Testiranje RE](https://regex101.com/r/3AJ1Pv/1)

In [69]:
regex = r'^(\d{4})'

In [70]:
extr = df['Date of Publication'].str.extract(regex, expand=False)

In [73]:
uni_towns = []
with open('data/DATA_university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
            state = line
        else:
            uni_towns.append((state, line))
towns_df = pd.DataFrame(uni_towns, columns=['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [74]:
#še uredimo podatke
def clean_df(item):
    if ' (' in item:
        return item[:item.find(' (')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item

In [75]:
#funkcija applymap je počasna
town_df = towns_df.applymap(clean_df)
town_df.head(10)

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo
5  Alabama          Troy
6  Alabama    Tuscaloosa
7  Alabama      Tuskegee
8   Alaska     Fairbanks
9  Arizona     Flagstaff

In [76]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [77]:
transform = lambda x: x[:4].upper()

In [79]:
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [80]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [81]:
data.rename(index={'OHIO': 'INDIANA'}, columns={'three': '3'})

         one  two   3  four
INDIANA    0    1   2     3
COLO       4    5   6     7
NEW        8    9  10    11

In [82]:
#Import the boston housing dataset, but while importing change the 'medv' (median house value) 
#column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.
#DOMAČA NALOGA

#Rešitev
f = lambda x: 'High' if float(x) > 25 else 'Low'
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',converters={'medv': f})
print(df.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High

# Web scraping

In [94]:
import requests
from bs4 import BeautifulSoup

In [84]:
url = 'http://example.com/'
r = requests.get(url)
r.text

'<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n    <meta charset="utf-8" />\n    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />\n    <meta name="viewport" content="width=device-width, initial-scale=1" />\n    <style type="text/css">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;\n        \n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color: #fff;\n        }\n        div {\n            width: auto;\n            margin: 0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n    }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n    <p>This domain is established to be used for illustrative examples in documents. You may use this\n    domain in examples without prior coordination or asking for permission.</p>\n    <p><a href="http://www.iana.org/domains/example">More information...</a></p>\n</div>\n</body>\n</html>\n'

In [85]:
#pogledamo, če je bilo pridobivanje kode uspešno
#če je 200, je bilo OK
r.status_code

200

In [86]:
r.reason

'OK'

In [87]:
r.headers

{'Content-Encoding': 'gzip', 'Cache-Control': 'max-age=604800', 'Content-Type': 'text/html; charset=UTF-8', 'Date': 'Tue, 04 Jun 2019 17:27:27 GMT', 'Etag': '"1541025663+ident+gzip"', 'Expires': 'Tue, 11 Jun 2019 17:27:27 GMT', 'Last-Modified': 'Fri, 09 Aug 2013 23:54:35 GMT', 'Server': 'ECS (dcb/7F82)', 'Vary': 'Accept-Encoding', 'X-Cache': 'HIT', 'Content-Length': '606'}

In [88]:
#vidiš, da je bil zahtevek poslan iz pythona
r.request.headers

{'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [89]:
url_got = 'https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes&oldid=802553687'
r = requests.get(url_got)
html_cont = r.text

In [ ]:
html_soup.find('h1')
html_soup.find('', {'id': 'firstHeading'})

In [92]:
#VAJA
link = 'https://en.wikipedia.org/wiki/List_of_Friends_episodes'

In [95]:
r = requests.get(link)
html_cont = r.text
html_soup = BeautifulSoup(html_cont, 'html.parser')

In [101]:
episodes = []
ep_tables = html_soup.find_all('table', class_='wikiepisodetable')

In [102]:
for table in ep_tables[0]:
    headers = []
    rows = table.find_all('tr')
    for header in table.find('tr').find_all('th'):
        #dobimo vse naslove:
        headers.append(header.text)
    for row in rows[1:]:
        values = []
        for col in row.find_all(['th', 'td']):
            values.append(col.text)
        if values:
            episode_dict = {headers[i]:values[i] for i in range (len(values))}
            episodes.append(episode_dict)

In [103]:
pd.DataFrame(episodes).head(5)

,Directed by,No. inseason,No.overall,Original air date,Prod.code,Title,US viewers(millions),Written by
0,James Burrows,1,1,"September 22, 1994 (1994-09-22)",456650,"""The Pilot""[a]",21.5[4],David Crane & Marta Kauffman
1,James Burrows,2,2,"September 29, 1994 (1994-09-29)",456652,"""The One with the Sonogram at the End""",20.2[4],David Crane & Marta Kauffman
2,James Burrows,3,3,"October 6, 1994 (1994-10-06)",456651,"""The One with the Thumb""",19.5[4],Jeffrey Astrof & Mike Sikowitz
3,James Burrows,4,4,"October 13, 1994 (1994-10-13)",456654,"""The One with George Stephanopoulos""",19.7[4],Alexa Junge
4,Pamela Fryman,5,5,"October 20, 1994 (1994-10-20)",456653,"""The One with the East German Laundry Detergent""",18.6[4],Jeff Greenstein & Jeff Strauss

In [ ]:
#Pandas
tables = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

# Risanje

In [104]:
%matplotlib notebook
#to nam omogoči interaktivne figure v jupyterju

In [105]:
import matplotlib.pyplot as plt