In [1]:
import numpy as np
import pandas as pd

# Uvod v pandas - Domača naloga

[Vir](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

### 1. How to combine many series to form a dataframe?

Combine ser1 and ser2 to form a dataframe.

In [4]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Concat(np.arange(26))

In [11]:
#Rešitev
df = pd.concat([ser1,ser2], axis=1)
print(df, type(df))

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25 <class 'pandas.core.frame.DataFrame'>

### 2. How to assign name to the series’ index?

Give a name to the series ser calling it ‘alphabets’.

In [12]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [20]:
#Rešitev
ser.rename = 'alphabets'
ser.index.name = 'alphabets index'
print(ser)

alphabets index
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

### 3. How to get the items of series A not present in series B?

From ser1 remove items present in ser2.

**Pomoč:** Metoda .isin()

In [21]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [23]:
#Rešitev
ni_v_b = ser1[~ser1.isin(ser2)]
print(ni_v_b)

0    1
1    2
2    3
dtype: int64

### 4. How to get frequency counts of unique items of a series?

Calculte the frequency counts of each unique value ser.

In [24]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [26]:
#Rešitev
ser.value_counts()

e    7
h    6
d    4
b    4
g    3
f    3
c    2
a    1
dtype: int64

### 5. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [51]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [52]:
#Rešitev
freq = ser.value_counts()[:2]
ser[ser.isin(freq)] = 'Other'
ser

0     Other
1     Other
2     Other
3         1
4         2
5         1
6         1
7         1
8     Other
9         2
10    Other
11        2
dtype: object

### 6. How to extract items at given positions from a series

From ser, extract the items at positions in list pos.

**Pomoč:** Metoda .take()

In [53]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [54]:
#Rešitev
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### 7. How to convert the first character of each element in a series to uppercase?

Change the first character of each word to upper case in each word of ser.

In [56]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [60]:
#Rešitev
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

### 8. How to convert a series of date-strings to a timeseries?

In [61]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]
```

In [64]:
#Rešitev
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### 9.  How to get the day of month, week number, day of year and day of week from a series of date strings?

Get the day of month, week number, day of year and day of week from ser.

In [71]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [85]:
#Rešitev
ser
#ser = pd.to_datetime(ser)
print('Date: '+str(ser.dt.day.tolist()))
print('Week number: '+str(ser.dt.week.tolist()))
print('Day num of year: '+str(ser.dt.dayofyear.tolist()))
print('Day of week: '+str(ser.dt.day_name().tolist()))

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### 10. How to filter valid emails from a series?

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [86]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [90]:
#Rešitev
emails[emails.str.contains(pattern)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

### 11. How to change column values when importing csv to a dataframe?

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

**Pomoč:** Uporaba parametra converter v read_csv() funkciji.

In [48]:
#Rešitev
f = lambda x: 'High' if float(x) > 25 else 'Low'
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',converters={'medv': f})
print(df.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High

### 12. How to import only specified columns from a csv file?

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [119]:
#Rešitev
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### 12. How to check if a dataframe has any missing values?

Check if df has any missing values.

In [120]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [121]:
#Rešitev
df.isnull().values.any()

True

## Dodaten izziv
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [7]:
import pandas as pd

df = pd.read_csv('data/DN_olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,? Summer,Gold,Silver,Bronze,Total,? Winter,Gold.1,Silver.1,Bronze.1,Total.1,? Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [5]:
# You should write your whole answer within the function provided.
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

? Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
? Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
? Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [14]:
df.sort_values(by='Gold', ascending=False).head()

,? Summer,Gold,Silver,Bronze,Total,? Winter,Gold.1,Silver.1,Bronze.1,Total.1,? Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [23]:
def answer_one():
    drzava = df['Gold'].idxmax()
    return drzava
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [22]:
def answer_two():
    df['razlika'] = df['Gold']-df['Gold.1']
    drzava2 = df['razlika'].idxmax()
    return drzava2
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [21]:
def answer_three():
    drzava3 = ((df['Gold']-df['Gold.1'])/(df['Gold.2'])).idxmax()
    return drzava3
answer_three()

'Algeria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [29]:
def answer_four():
    Points = pd.Series((df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2'])/df['Combined total'], index=df.index, 
                       name='Points')
    return Points
answer_four()

Afghanistan                         1.000000
Algeria                             1.800000
Argentina                           1.857143
Armenia                             1.333333
Australasia                         1.833333
Australia                           1.922917
Austria                             1.871711
Azerbaijan                          1.653846
Bahamas                             2.000000
Bahrain                             1.000000
Barbados                            1.000000
Belarus                             1.711111
Belgium                             1.877551
Bermuda                             1.000000
Bohemia                             1.250000
Botswana                            2.000000
Brazil                              1.703704
British West Indies                 1.000000
Bulgaria                            1.868182
Burundi                             3.000000
Cameroon                            2.400000
Canada                              1.884187
Chile                               1.846154
China                               2.129278
Colombia                            1.526316
Costa Rica                          1.750000
Ivory Coast                         2.000000
Croatia                             1.970588
Cuba                                2.009569
Cyprus                              2.000000
                                      ...
Spain                               2.015038
Sri Lanka                           2.000000
Sudan                               2.000000
Suriname                            2.000000
Sweden                              1.940989
Switzerland                         1.950464
Syria                               2.000000
Chinese Taipei                      1.523810
Tajikistan                          1.333333
Tanzania                            2.000000
Thailand                            1.833333
Togo                                1.000000
Tonga                               2.000000
Trinidad and Tobago                 1.500000
Tunisia                             1.900000
Turkey                              2.170455
Uganda                              2.000000
Ukraine                             1.803279
United Arab Emirates                3.000000
United States                       2.120104
Uruguay                             1.600000
Uzbekistan                          1.809524
Venezuela                           1.500000
Vietnam                             2.000000
Virgin Islands                      2.000000
Yugoslavia                          1.965517
Independent Olympic Participants    1.333333
Zambia                              1.500000
Zimbabwe                            2.250000
Mixed team                          2.235294
Name: Points, Length: 146, dtype: float64